<div class="container">
  <form [formGroup]="registerForm" (submit)="saveMessage()">
    <mat-form-field>
      <mat-label>Nome: </mat-label>
      <input formControlName="name" matInput placeholder="Ex. Edson Santos de Moura" required>
      <mat-error>
        Nome obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email: </mat-label>
      <input formControlName="email" matInput placeholder="Ex. name@example.com" required>
      <mat-error>
        Insira um email válido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone Celular: </mat-label>
      <!-- <span matPrefix>+55&nbsp;</span> -->
      <input [textMask]="{mask: phoneMask}" formControlName="phone" type="tel" matInput placeholder="(99) 99999-9999"
        (keypress)="!lettersOnly($event);">
      <mat-error>
        Insira um telefone válido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assunto:</mat-label>
      <mat-select formControlName="subjectMatter" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let item of subjectMatterOptions" [value]="item['slug']">
          {{ item['name'] }}
        </mat-option>
      </mat-select>
      <mat-error>
        Assunto obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mensagem:</mat-label>
      <textarea matTextareaAutosize matAutosizeMinRows=10 formControlName="message" matInput #message maxlength="500"
        placeholder="Ex. Eu acho os seriços oferecidos pela Pamcary muit..." required></textarea>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
      <mat-error>
        Mensagem obrigatória
      </mat-error>
    </mat-form-field>

    <div class="container-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid" matTooltip="Enviar mensagem">Enviar</button>
    </div>
  </form>
</div>