<div style="max-width: 1170px; margin: auto; padding: 0 30px; margin-top: 40px;">
  <form class="example-form" [formGroup]="userForm" (submit)="saveUser()">
    <mat-form-field class="example-full-width">
      <mat-label>Nome: </mat-label>
      <input formControlName="name" matInput placeholder="Ex. Edson Santos de Moura" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email: </mat-label>
      <input formControlName="email" matInput [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com" required>
      <mat-hint>Errors appear instantly!</mat-hint>
      <!-- <mat-error *ngIf="userForm.email.hasError('email') && !userForm.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="userForm.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Telefone Celular:</mat-label>
      <span matPrefix>+55 11 &nbsp;</span>
      <input formControlName="phone" type="tel" matInput placeholder="99999-9999" (keypress)="!lettersOnly($event);">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assunto:</mat-label>
      <mat-select formControlName="subjectMatter" required>
        <mat-option>--</mat-option>
        <mat-option value="Orçamento">
          Orçamento
        </mat-option>
        <mat-option value="Dúvida">
          Dúvida
        </mat-option>
        <mat-option value="Elogio">
          Elogio
        </mat-option>
        <mat-option value="Reclamação">
          Reclamação
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="userForm.subjectMatter.hasError('required')">Please choose an animal</mat-error> -->
      <!-- <mat-hint>{{userForm.subjectMatter.value?.sound}}</mat-hint> -->
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Mensagem:</mat-label>
      <textarea formControlName="message" matInput #message maxlength="500" placeholder="Ex. I need help with..." required></textarea>
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>

    <button type="submit" [disabled]="!userForm.valid">Enviar</button>
  </form>
</div>