<div style="max-width: 1170px; margin: auto;">
  <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 40px;">
    <ul style="width: 25%; background-color: aquamarine; margin: 0; list-style: none; padding: 0;">
      <li>Titulo da mensagem  <br> Hora de Cadastro <hr></li>
      <li>Titulo da mensagem  <br> Hora de Cadastro <hr></li>
      <li>Titulo da mensagem  <br> Hora de Cadastro <hr></li>
    </ul>

    <div style="width: 70%;">
      <div style="width: 100%; background-color: blanchedalmond;">
        Titulo da mensagem <br>
        Hora de Cadastro <br><br>
        Assunto da mensagem <br>

        Asaasdasdasd asd aasdasdaw awda wdad awd w 
      </div>

      <div>
        <button>Excluir mensagem</button>
      </div>
    </div>
  </div>
</div>