<div style="max-width: 1170px; margin: auto;">
  <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 40px;">
    <app-list-messages></app-list-messages>

    <div style="width: 70%;" *ngIf="selectedMessage">
      <div style="width: 100%; background-color: blanchedalmond;">
        {{ selectedMessage.message | slice:0:15 }} <br>
        Hora de Cadastro <br><br>
        Assunto da mensagem <br>

        Asaasdasdasd asd aasdasdaw awda wdad awd w 
      </div>

      <div>
        <button (click)="removeMessage()">Excluir mensagem</button>
      </div>
    </div>
  </div>
</div>