<header>
  <img src="../../../assets/images/logo.png" alt="Logo Pamcary">
</header>

<nav>
  <div class="container-nav">
    <ul>
      <li *ngFor="let i of itensArray">
        <button mat-raised-button [matBadge]="i['slug'] === 'dashboard' ? countMessages : ''" matBadgePosition="before"
          matBadgeColor="accent" [matTooltip]="i['tooltip']" [routerLink]="['/', i['slug']]">
          <mat-icon aria-hidden="false">{{ i['icon'] }}</mat-icon> {{ i['name'] }}
        </button>
      </li>
    </ul>

    <div class="menu-mobile">
      <button mat-raised-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false">sort</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let i of itensArray" mat-menu-item [routerLink]="['/', i['slug']]">
          <mat-icon aria-hidden="false">{{ i['icon'] }}</mat-icon> {{ i['name'] }}
        </button>
      </mat-menu>
    </div>
  </div>
</nav>